@import "tailwindcss";

// You can now use SCSS features like variables, nesting, mixins, etc.
// Example:
// $primary-color: #646cff;
// 
// .card {
//   background-color: $primary-color;
//   
//   &:hover {
//     opacity: 0.8;
//   }
// }

$primary-color: #282439;
$secondary-color:#534f66;

.btn{
    padding: 10px 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 10px;

    background-color: $primary-color;
    color: white;
    border-radius: 5px;

    &:hover{
        background-color: darken($primary-color, 10%);
    }
}

.btn-secondary{
    background-color: $secondary-color;

    &:hover{
        background-color: darken($secondary-color, 10%);
    }
}