@import "tailwindcss";

// You can now use SCSS features like variables, nesting, mixins, etc.
// Example:
// $primary-color: #646cff;
// 
// .card {
//   background-color: $primary-color;
//   
//   &:hover {
//     opacity: 0.8;
//   }
// }
